{% extends "template.html" %}
{% block conteudo %}

	<div class="container">

	<!-- Page Heading -->
	<h1 class="my-4">Search Posts
		<br><br>
		<div class="overlay"></div>
		<div class="masthead">
			<div class="row">
				<div class="input-group input-group-lg">
              	<form method="POST" action="{{ url_for('load') }}">
				  <input type="text" class="form-control" placeholder="#hashtag" aria-describedby="sizing-addon1" name="hashtag">
				  <input type="submit" style="position: absolute; left: -9999px"/>
				</form>
				</div>
			</div>
		</div>
		</div>
	</h1>



{% endblock %}

