{% extends "template.html" %}
{% block conteudo %}

	<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.bundle.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.bundle.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.min.js"></script>
	
	<div class="container">
	<!-- Page Heading -->
	<h1 class="my-4">{{ subtitle }}</h1>
		<h4>
			<small>#{{ hashtag }}</small>
		</h4>

		<br><br>
		<!--<div class="row d-flex justify-content-center">
			<div class="card">
				<div class="col-sm-10">
				<div class="chart-container" style="position: relative; height:20vh; width:40vw">
					<canvas id="toneChart_Radar"></canvas>
					<script>
						var ctx = document.getElementById("toneChart_Radar");
						var toneChart_Radar = new Chart(ctx, {
							type: 'radar',
							data: {
								labels: ['Analytical', 'Fear', 'Joy', 'Anger', 'Confident', 'Sadness', 'Tentative'],
								datasets: [{
									data: [20, 10, 4, 2, 5, 1, 12]
								}]
							},
							options: {}
						});
					</script>
				</div>
				</div>
			</div>
		</div>-->
		<p>
		<div class="row">
			<div class="card">
				<div class="card-body">
				<p><h5 class="card-title">Images Data</h5></p>
				<table class="table table-hover table-responsive">
					<tr>
						<th>Post Id</th>
						<th>Avg Color</th>
						<th>Dominant Color</th>
						<th>Peak</th>
					</tr>
					{% for img in img_list %}
					<tr>
						<td>{{ img.post_id }}</td>
						<td>{{ img.format_avg_color }}</td>
						<td>{{ img.dominant_color }}</td>
						<td>{{ img.peak }}</td>
					</tr>
					{% endfor %}
				</table>
				</div>
			</div>
		</div>
	</div>
{% endblock %}

